.dn {
  display: none;
}

.di {
  display: inline;
}

.db {
  display: block;
}

.dt {
  display: table;
}

.fn {
  float: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cn {
  clear: none;
}

.cl {
  clear: left;
}

.cr {
  clear: right;
}

.cf:after {
  clear: both;
  content: '';
  display: block;
}

.lc {
  text-transform: lowercase;
}

.uc {
  text-transform: uppercase;
}

.sc {
  font-variant: small-caps;
}

.tc {
  text-align: center;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tj {
  text-align: justify;
}
